<?xml version="1.0" encoding="UTF-8"?>
<configuration status="OFF">
    <appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %class{36} %L %M - %msg%xEx%n"/>
        </Console>
    </appenders>
    <loggers>
        <!--<logger name="org.hyperledger.fabric.shim.ChaincodeBase" level="info" additivity="false">-->
        <!--<appender-ref ref="Console"/>-->
        <!--</logger>-->
        <root level="info">
            <appender-ref ref="Console"/>
        </root>
    </loggers>
</configuration>